[2014-07-31 10:32] iancrowther opened #11 "Redesign Requirements"
I just wanted to jot down my thoughts on a site redesign.

### Content
- it should be driven from a json file
- harpjs allows us to generate static sites
- we should either push or pull content from lanyrd to stop us having to duplicate effort

### Deployment
- we should automate build & deploy via codeship etc.

### Hosting
- If we build using harp (generate static site), then we can host on gith

[2015-01-09 17:01] iancrowther opened #4 "Implement new design"
https://github.com/lnug/lnug.github.io/tree/master/assets/design

see https://github.com/lnug/website/issues/11

[2015-01-09 17:03] iancrowther commented on #11
moving to the new website repo https://github.com/lnug/lnug.github.io/issues/4

[2015-01-09 17:03] #11 closed

[2015-01-14 00:29] iancrowther opened #25 "add lyst to sponsors"

[2015-02-14 22:17] jkbits1 commented on #25
This can be closed now. The commit 24f1732bd6af41c9c3695cb4ac8919325085462b made this change.

[2015-02-18 21:35] #25 closed

[2015-03-12 15:28] iancrowther opened #31 "More Ticket Information"
Add a note to the landing page that informs people that tickets are mandatory and that a check-in is required.

[2015-05-12 11:54] iancrowther opened #15 "Update DNS"
![](http://davidensinger.com/img/srcset/2014-01-07-namecheap-dns-settings.png)

[2015-05-12 11:54] iancrowther opened #16 "Auto update sponsors"

[2015-05-12 11:54] iancrowther opened #17 "remove jobs list"

[2015-05-20 15:30] #17 closed, assigned to nobody

[2015-05-26 20:34] iancrowther commented on #15
done

[2015-05-26 20:34] #15 closed, assigned to nobody

[2015-05-26 20:34] iancrowther opened #20 "add mailjet to sponsors"

[2015-05-26 20:34] iancrowther opened #21 "add venue info to website"

[2015-05-26 20:40] jkbits1 commented on #21
Anything I can help with?

[2015-05-26 20:59] iancrowther commented on #21
ok lets see how this pans out :-)

[2015-05-26 21:00] iancrowther commented on #21
im 100% certain well get complaints

[2015-05-26 21:08] jkbits1 commented on #21
usually that can be relied on :smile:

[2015-05-26 21:13] iancrowther commented on #21
lol - touche

[2015-05-27 07:49] simonmcmanus commented on #21
Where do I go tonight? :)

[2015-05-27 08:05] web-bert commented on #21
It's on ti.to:

https://ti.to/lnug/may-2015

At least I hope that's correct

[2015-05-27 12:25] orliesaurus commented on #21
it is

[2015-05-27 13:57] simonmcmanus commented on #21
It is indeed. I wasn't able to load Tito earlier!

Thanks

On 27 May 2015 at 09:05, web-bert notifications@github.com wrote:

##

Simon McManus

DotJS Ltd - Node Consultancy

[2015-05-27 14:09] #21 closed, assigned to nobody

[2015-06-04 02:01] #20 closed, assigned to nobody

[2015-06-04 08:58] iancrowther opened #22 "add pebblecode to sponsors"

[2015-07-09 21:45] iancrowther opened #23 "mail list form"

[2015-07-09 21:46] iancrowther commented on #23
Mail list signup form on landing page

[2015-08-10 14:06] #22 closed, assigned to nobody

[2015-08-10 14:07] iancrowther commented on #16
is this feasible?

[2015-08-10 14:07] iancrowther commented on #4
@tancredi - bump

[2015-08-10 14:08] iancrowther opened #26 "mail list signup"
can we make sore of this? its in the footer atm and should be more prominent

[2015-08-10 14:09] iancrowther opened #27 "apply to speak placement"
can we move this from the footer and bring it closer to the talks header?

thoughts @benbyford

[2015-08-10 14:09] iancrowther opened #28 "talks alignment"
seems out to me

[2015-08-10 14:12] iancrowther opened #29 "venue details on landing page"
currently we tweet them to appear in tweet lists. is not robust enough

[2015-08-10 14:12] benbyford commented on #27
could be added to the top menu if its important for your audience

[2015-08-10 14:15] iancrowther commented on #27
no speakers = no LNUG.. is pretty important

[2015-08-26 15:43] admataz opened #32 "Speakers' @ handles should be for twitter, not github"
following discussion with @iancrowther  on gitter we agreed that in future these should be Twitter handles, and not as they have been the last two months, which is github handles.

Same goes for the newsletter.

cc. @jkbits1 @web-bert

[2015-08-26 16:36] simonmcmanus commented on #32
Were the Twitter handles manually added previously?

We are just pulling in the data from the GitHub api atm.

Sent from my iPhone

[2015-08-30 18:25] simonmcmanus commented on #16
yes feasible but id say its easier just to update the markup directly. They don't change very often.

[2015-08-30 18:25] #16 closed, assigned to simonmcmanus

[2015-11-17 22:19] iancrowther commented on #4
should this be closed?

[2015-11-19 11:25] iancrowther opened #43 "create a placeholder image for sponsors"
Can we get a tile that is "your company here" kind of thng?

@maxwellito have you got 15 to have a go?

see the sponsors branch and visit /sponsors.html

we need a placeholder for bronze sponsorship

[2015-11-19 11:25] iancrowther commented on #43
Ideally this goes live today

[2015-11-19 17:29] iancrowther opened #45 "review the copy for sponsor tiers"
@lnug/contributors please can we take a look

[2015-11-19 17:29] iancrowther commented on #45
relates to https://github.com/lnug/lnug.github.io/pull/44

[2015-11-19 17:29] iancrowther opened #46 "does the sponsors page break the build?"

[2015-11-19 17:30] iancrowther opened #47 "sponsors page meta data is wrong"

[2015-11-19 18:04] iancrowther opened #50 "help with tiling the sponsor images"

[2015-11-19 18:08] simonmcmanus commented on #50
This should be covered by the new design

[2015-11-19 21:07] iancrowther commented on #50
new design is not ready for wednesday tho chap.. need to get the new sponsors page live MVP rocka fella

[2015-11-20 19:23] iancrowther opened #52 "add src query param to sponsor links"

[2015-11-23 09:29] simonmcmanus commented on #46
@iancrowther - are you referring to PR #44?

What makes you think its broken?

[2015-11-23 12:59] trevorah commented on #43
So whats our current sponsor lineup?

[2015-11-23 15:56] iancrowther opened #56 "can we change the default sever?"
`npm start` uses mongoose but its a bit config heavy.

can we update to use https://www.npmjs.com/package/http-server

[2015-11-23 16:07] iancrowther opened #58 "extend contributing.md to add PR guidelines"
@simonmcmanus and I were saying that a PR should be complete and this should be reflected in the guide.

We should have a set of guides as to why a PR will be declined.

[2015-11-23 16:59] iancrowther commented on #43
@trevorah for the final roster, see http://lnug.org/sponsors

[2015-11-23 16:59] #43 closed, assigned to iancrowther

[2015-11-23 17:00] iancrowther commented on #46
due to the lack of a template.

[2015-11-23 17:00] #46 closed, assigned to iancrowther

[2015-11-23 17:00] iancrowther commented on #46
there is a new PR for the template where we should discuss builds

[2015-11-25 14:11] #52 closed, assigned to iancrowther

[2015-11-25 14:12] iancrowther commented on #52
@jkbits1 - i also updated ti.to

[2015-11-25 14:14] iancrowther commented on #50
resolved

[2015-11-25 14:14] #50 closed, assigned to iancrowther

[2015-11-25 14:15] iancrowther commented on #45
thanks @jkbits1 for your review and PR, much apreciated

[2015-11-25 14:15] #45 closed, assigned to nobody

[2015-11-25 14:20] iancrowther commented on #32
Added a new issue to speakers

https://github.com/lnug/speakers/issues/57

@admataz are you in a position to pick it up?

[2015-11-25 14:20] #32 closed, assigned to simonmcmanus

[2015-11-25 14:20] iancrowther commented on #29
this is resolved in the redesign.. which is close!!

[2015-11-25 14:20] #29 closed, assigned to simonmcmanus

[2015-11-25 14:21] iancrowther commented on #28
resolved in redesign

[2015-11-25 14:21] #28 closed, assigned to simonmcmanus

[2015-11-25 14:21] iancrowther commented on #27
resolved in redesign

[2015-11-25 14:21] #27 closed, assigned to web-bert

[2015-11-25 14:22] iancrowther commented on #26
resolved in redesign

[2015-11-25 14:22] #26 closed, assigned to simonmcmanus

[2015-11-25 14:22] #23 closed, assigned to simonmcmanus

[2015-11-25 14:22] iancrowther commented on #4
designs have moved on now.. closing

[2015-11-25 14:22] #4 closed, assigned to nobody

[2015-12-09 10:18] simonmcmanus commented on #56
We are not using mongoose any more.

Its using serve-me which seems to work fine. No objection to using http-server but pls submit as a pull request.

[2015-12-09 10:18] #56 closed, assigned to simonmcmanus

[2015-12-09 10:20] simonmcmanus commented on #47
whats wrong with it?

At the moment this can just be fixed by editing the markdown file:

https://github.com/lnug/resources/blob/master/sponsors.md

[2015-12-09 10:20] iancrowther commented on #56
happy to use your suggestion as long as there is zero config

[2015-12-09 10:21] iancrowther commented on #47
i meant the meta tags in the header..

[2015-12-09 13:58] simonmcmanus opened #75 "Generated code in root of master branch"
At some point this repo was configured so that gh-pages uses the master branch (as opposed to the gh-pages branch).

At the moment we have both the source and the compiled output in the root directory of the master branch which can be confusing. Github requires that the generated markup be in the root.

When first timers want to change the sponsors page, they see sponsors.html go and change that,

[2015-12-09 14:18] iancrowther commented on #75
i'm cool with that

[2015-12-09 20:58] iancrowther opened #77 "add sidecar from gitter"
We should add this to the landing page in a progressivly enhanced way

[code]

[2015-12-09 21:01] simonmcmanus commented on #77
I don't think this should happen on mobile devices.

[2015-12-09 21:12] iancrowther opened #78 "Add videos to archive page"
We have a rich archive of videos on youtube and vimeo.

Each months videos should live in a playlist which can be accessed via the youtube api

The vimeo videos could be ported to youtube to be consistant.

see:
https://github.com/lnug/feedback/issues/80
https://github.com/lnug/feedback/issues/82

[2015-12-09 21:22] iancrowther opened #79 "submit new sitemap to google."
Old site links are in google SERPS

[2015-12-09 21:23] iancrowther opened #80 "Add notes about data usage"
"we will never share your data"

This should be in context to the signup form on the landing page

[2015-12-09 21:23] simonmcmanus opened #81 "Link to participating guide from website footer"
See the markup in:

https://github.com/lnug/lnug.github.io/blob/master/pages/layout.html

Can just be an external link:

https://github.com/lnug/feedback/blob/master/PARTICIPATING.md

moved from:

https://github.com/lnug/feedback/issues/72

[2015-12-09 21:25] iancrowther opened #82 "Render related-meetups markdown"

[2015-12-09 21:26] iancrowther commented on #82
http://lnug.org/related-meetups.html

[2015-12-09 21:26] #82 closed, assigned to nobody

[2015-12-09 21:31] iancrowther opened #83 ""add to google" calendar link"
Where we display "Next Event" info, we should have a button that allows you to add the event to you gcal.

We also have a public calendar that we should share as this gives people info about ticket releases

https://github.com/lnug/feedback/issues/70

[2015-12-09 21:33] iancrowther opened #84 "Show a schedule of upcoming events on homepage"
The idea is to give people insights to upcoming speakers.

This should be dynamic, based on the current state of github.com/lnug/speakers

"We could pull in all the milestones setup in github I guess, that would give a list of the next few events. Would need to think about where in the UI it sits. Not gonna look at this till after the redesign is out."
- @simonmcmanus

[2015-12-09 22:12] iancrowther commented on #75
@simonmcmanus - whats the action here?

[2015-12-09 22:12] iancrowther commented on #47
@simonmcmanus - is this an issue?

[2015-12-09 23:15] iancrowther opened #85 "add mission statement to landing page"
Something similar to the new Barcelonajs site

<img width="1138" alt="screen shot 2015-12-09 at 23 12 39" src="https://cloud.githubusercontent.com/assets/76060/11701962/bda18eb2-9eca-11e5-8a09-f0bfc8c95870.png">

[2015-12-10 09:34] simonmcmanus commented on #75
Action is to split the generated code from the source to make it easier for newcomers.

Not something I plan to do now. Just something that needs doing and I wanted it recorded somewhere.

[2015-12-10 09:34] #75 closed, assigned to nobody

[2015-12-10 09:34] simonmcmanus commented on #85
what is the copy?

how should it look?

[2015-12-10 09:36] simonmcmanus commented on #84
do we really need show more than when the next event is?

Not sure what the value is here.

[2015-12-10 09:37] simonmcmanus commented on #83
@iancrowther do you have a link to the calendar?

[2015-12-10 09:44] simonmcmanus commented on #47
@iancrowther -Whats wrong with the meta data?

Its generic meta data shared across all pages at the moment.

[2015-12-10 09:44] #47 closed, assigned to nobody

[2015-12-10 09:46] simonmcmanus opened #86 "redirects"
Some of the urls from the old website are still in google and giving some dodge results, try searching:

lnug sponsors

We need to add some permanent redirects to maintain that google juice.

[2015-12-10 09:47] simonmcmanus commented on #86
things like:

http://lnug.org/sponsors

should be redirected to:

http://lnug.org/sponsor.html

[2015-12-10 14:14] iancrowther commented on #47
ah ok - cool

[2015-12-10 14:17] iancrowther commented on #83
HTTP - https://calendar.google.com/calendar/embed?src=qcfsvg5sta1viu1bicn0imjlrc%40group.calendar.google.com&ctz=Europe/London

ICAL - https://calendar.google.com/calendar/ical/qcfsvg5sta1viu1bicn0imjlrc%40group.calendar.google.com/public/basic.ics

[2015-12-10 14:18] iancrowther commented on #83
most of the orgs are listed as admins

[2015-12-10 14:19] iancrowther commented on #84
this has come from user feedback - people want to know whats coming up 2 or 3 months ahead for their personal planning.

Example: if you are travelling a long distance, you have to choose the events that stand out to you

[2015-12-10 14:20] iancrowther commented on #85
can we not lift the preview for now?

[2015-12-11 10:05] iancrowther commented on #86
That was the trigger for this issue https://github.com/lnug/lnug.github.io/issues/79

[2015-12-19 11:55] julienbrunuk commented on #78
See PR #88

[2015-12-19 11:55] #78 closed, assigned to julienbrunuk

[2015-12-19 12:08] iancrowther commented on #78
+1

[2015-12-19 12:09] julienbrunuk opened #89 "Add more videos to archive"
We need add more videos to the archive page:
- Go to the LNUG Youtube channel: https://www.youtube.com/channel/UC-qjgj2TnRoI1ZmFFaN3FeQ
- Find a talk, and add the "video" property to `data/archive.json`

Warning: Talk name and video titles may differ.

[2015-12-25 12:31] julienbrunuk commented on #86
Unfortunately, Github pages doesn't allow 301 Redirects, which is the cleanest way to do it :disappointed:   . However, we can create a blank html page with an http meta-tag, [it might be okay to do so](http://sebastians-pamphlets.com/google-and-yahoo-treat-undelayed-meta-refresh-as-301-redirect/).

[2015-12-26 23:29] simonmcmanus commented on #86
@julienbrunuk - yeah I think that would be the only way to do it.

Fortunately though, Google has figured it out already:

https://www.google.co.uk/search?q=lnug+sponsor

Bing is still showing the old result but its below the new one. I cant imagine it will keep a page that is 404ing for long.

https://www.bing.com/search?q=lnug+sponsor

[2015-12-26 23:29] #86 closed, assigned to nobody

[2015-12-29 09:38] iancrowther commented on #79
@julienbrunuk / @simonmcmanus - can you submit a sitemap

[2016-01-04 12:09] iancrowther opened #92 "Provide mechanism for audience to suggest speakers"
Our audience knows what it wants to see, it would be great to provide a mechanism for the audience to suggest potential speakers.

I have suggested a google form for speed of implementaion.

[2016-01-04 14:33] ifraixedes commented on #92
How you're thinking to add Google form, embedded?

[2016-01-04 15:44] PatrickHeneise commented on #92
you could use a plugin in `gitevents` :P same as the jobs plugin, provides a /suggestion endpoint and processes form data.

[2016-01-04 17:09] ifraixedes commented on #92
I was asking because I wanted those in static pages (GH pages in my case) and embedding wasn't an option for me.

Other option that I've tried to avoid CORS issues wasn't very pleasant so the only way was to have a service how receive the post, forward to Google Forms and reply back with CORS headers, obviously I had to set up a server so if you do that you may want to put your page in the server

[2016-01-04 20:52] iancrowther commented on #92
"How you're thinking to add Google form, embedded?" - i was just thinking a link to a form created using the LNUG google account.  simple!

[2016-01-05 08:05] ifraixedes commented on #92
Google forms give you the code to embed in your website, it's an option, not a hack.
@iancrowther your solutions is obviously the simplest one, if you don't mind to redirect people to Google domain or show the Google forms credits when you embed it, that's something that I didn't want to do in my landing.

[2016-01-05 08:54] iancrowther commented on #92
I think a link works fine, just add the lnug logo to the form and folks are aware they are in the right place

[2016-01-22 20:02] iancrowther opened #95 "Need to update the archive to fix speaker names"
pre-july, the archive does not display speaker names propers

example

https://github.com/lnug/lnug.github.io/blob/master/data/archive.json#L140

maxwellito should be Max Dulduc

[2016-01-22 20:15] iancrowther opened #96 "backdate youtube links to archive.json"
I have now done a spring clean on the youtube channel ready for 2016!

I have:
- Fixed video titles
- Fixed Video descriptions
- Fixed incorrect / missing playlists
- Properly tagged the videos

Now I need some help backdating the videos in the archive. its not a glamorous task!

[2016-01-22 21:16] iancrowther opened #97 "Add image gallery to website"
We have some amazing photos from twitter & instagram which we should make use of.

Is anyone interested in putting together an image gallery?

[2016-01-27 15:43] simonmcmanus opened #103 "handle multiple events"
the site is currently showing info for the Feb event, which is cool but people probably still want to know what is going to be happening tonight at the January event.

[2016-01-27 15:57] clarkie commented on #103
Can we switch it back to Jan? I've checked my phone so many times on the way to the event to remind myself what the talks are going to be (and where it is!)

[2016-01-27 17:29] simonmcmanus commented on #103
https://github.com/lnug/lnug.github.io/pull/104/files

On 27 January 2016 at 16:19, lnugbot notifications@github.com wrote:

##

Simon McManus

DotJS Ltd - Node Consultancy

[2016-01-28 09:05] rdquintas commented on #97
Hi @iancrowther thanks again for organizing the LNUG yesterday.Super awesome.
Yes would like to contribute here.

What's your idea for this ? Any suggestion ?
Will it be photos only, or also video ?

Cheers.

[2016-01-28 09:10] rdquintas commented on #97
Btw, I also saw this other open issue
https://github.com/lnug/speakers/issues/56

Will this image gallery be part of that "major overhaul" ?

[2016-01-28 11:23] iancrowther commented on #97
I would just start small and evolve, so start with photos. Get that live and then we can add video.

The overhaul is live, now it's evolution

[2016-01-28 11:28] rdquintas commented on #97
cool.and do you want me to pull those images directly from those channels, using their respective APIs to automate the process or whatever ?or will we be storing these images directly on github ?
cheers. 

[2016-01-28 11:34] iancrowther commented on #97
Store them first, then automate

[2016-01-28 11:36] rdquintas commented on #97
okidoki 

[2016-01-31 13:31] rdquintas opened #105 "Issues with npm run build"
Hi guys,
I'm struggling to build this app on my machine, and getting some build errors.
Can anyone help me, please.

This is what I have installed
node v5.5.0
npm  v3.6.0

Not sure if I'm doing anything wrong.
See attached **npm-debug.log**
[npm-debug.log.txt](https://github.com/lnug/lnug.github.io/files/111283/npm-debug.log.txt)

Cheers

[2016-01-31 13:40] rdquintas commented on #105
Also have the same issue with **npm start**

[2016-01-31 15:03] simonmcmanus commented on #105
what error do you get on an npm start?

[2016-01-31 15:06] simonmcmanus commented on #105
I can't see anything obvious wrong.

It's worth deleting node_modules and doing a clean npm install.

[2016-01-31 18:56] rdquintas commented on #105
Thanks @simonmcmanus
I have solved the issue.

Changed **package.json**

from this

[code]

to this

[code]

As you can see above, all that I did was to pre-pend the command **node** to each script instruction.
Have no idea why it wasn't working without the "node" command.
Maybe because I'm running this on a windows machine.

Works like a charm now.

Cheers.

[2016-01-31 20:07] iancrowther commented on #105
What os?

[2016-01-31 20:14] rdquintas commented on #105
Windows 10

/Ricardo
 www.ricardoquintas.com

[2016-01-31 20:23] simonmcmanus commented on #105
Windows doesn't understand the

#!/usr/bin/env node

at the top of the scripts its running.

If you want to make a pull request we will get that merged in right away.

Thanks Ricardo

On 31 January 2016 at 18:56, Ricardo Quintas notifications@github.com
wrote:

##

Simon McManus

DotJS Ltd - Node Consultancy

[2016-01-31 20:56] rdquintas commented on #105
@lnugbot I have installed using installer

@simonmcmanus I see. So I can't use the shebang line I guess, when using Windows.
BTW, saw this interesting discussion on the subject here
http://stackoverflow.com/questions/33509816/what-exactly-does-usr-bin-env-node-do-at-the-beginning-of-node-files
Another alternative for me (without changing the package.json) would be to run the script directly withou

[2016-02-09 20:21] rdquintas commented on #97
Hi Gang,
quick update.

Image gallery development is going well, and I'm nearly there.
70% complete I would say.

Noticed one thing thought.
If we're planning to add a new link for the "Gallery".... the header will look cluttered on a mobile device.

Take a look at what I mean
![2016-02-09 21_14_26](https://cloud.githubusercontent.com/assets/3330729/12929435/f090c620-cf72-11e5-855f-9e204e6d109c.jp

[2016-02-09 20:39] simonmcmanus commented on #97
I'd avoid adding anything to the primary nav.

I think you might be better to pull the content into the homepage and just put the gallery link into the footer.

Something like:

![screen shot 2016-02-09 at 20 40 18](https://cloud.githubusercontent.com/assets/55853/12929909/684bf500-cf6d-11e5-9808-6c57f66a8362.png)

Id say its worth getting in a PR with just the gallery page linked from the footer

[2016-02-09 20:45] rdquintas commented on #97
Now that's a proper wireframe!
;o)

Gotcha. No worries.

btw, noticed you were still adding the "Gallery" link to the header on your wireframe, but guess you meant something like this:

Speak  |  Sponsor  |  Contact

right ?

[2016-02-09 21:20] simonmcmanus commented on #97
exactly :)

[2016-02-12 08:47] #81 closed, assigned to nobody

[2016-02-17 19:55] rdquintas commented on #105
This issue can be closed.
All working fine.

[2016-02-18 10:08] #105 closed, assigned to nobody

[2016-02-22 14:03] simonmcmanus commented on #85
@iancrowther  - I think we should provide the copy for the issue. We cannot expect beginners to define the LNUG mission statement

[2016-02-22 14:05] simonmcmanus commented on #79
Our site is being indexed well. we do not need a sitemap

[2016-02-22 14:05] #79 closed, assigned to nobody

[2016-02-22 14:05] iancrowther commented on #85
yeah that's fair enough, I can pick this up

[2016-02-22 14:06] simonmcmanus opened #111 "remove sitemaps"
We have an out of date sitemap.

It should be deleted.

[2016-02-22 14:07] iancrowther commented on #79
hold on there chap - if "Old site links are in google SERPS" then your statement is not quite true.

[2016-02-22 14:07] simonmcmanus commented on #83
I think we are killing the calendar so killing this issue

[2016-02-22 14:07] #83 closed, assigned to nobody

[2016-02-22 14:10] simonmcmanus commented on #92
i'm confused, why are we adding a google form to the website?

What problem will the form help to solve?

[2016-02-22 14:11] simonmcmanus commented on #96
@iancrowther  - is this a duplicate of #89 ?

[2016-02-22 14:14] simonmcmanus commented on #77
The more I think about this it can be handled with a link off to the gitter page.

[2016-02-22 14:14] #77 closed, assigned to nobody

[2016-02-22 14:15] simonmcmanus opened #112 "move external dependancies into this git repo."
When I first started working on this repo we have lots of markdown files in github we wanted to pull into the website.

Currently, the website build tasks pulls the markdown files and converts to html.

I think having files across two repos just adds confusion and complexity. Those files should be moved into the pages directory as plain old html.

[2016-02-22 14:17] iancrowther commented on #112
please add a little more to the description

[2016-02-22 14:18] simonmcmanus commented on #112
sorry accidentally created the issue before finishing my description.

[2016-02-22 14:18] iancrowther commented on #96
ha - yes it is..

[2016-02-22 14:19] simonmcmanus commented on #79
@iancrowther  - do you have an example of the incorrect behaviour?

[2016-02-22 14:19] iancrowther commented on #92
@simonmcmanus this is the thread for speaker suggestions - it does not have to be a form, its just a suggestion.

[2016-02-22 14:20] iancrowther commented on #83
agreed, its something that needs managing and I have unfortunately dropped for now

[2016-02-22 14:37] simonmcmanus commented on #92
@iancrowther Can we update this issue to describe the problem that needs to be solved please.

[2016-02-22 15:09] iancrowther commented on #92
@simonmcmanus fair call, I have updated.  make more sense now or needs more?

[2016-02-22 15:56] simonmcmanus commented on #92
much better :+1:

[2016-02-22 16:03] iancrowther commented on #79
![screen shot 2016-02-22 at 16 01 12](https://cloud.githubusercontent.com/assets/76060/13223826/c999e0c8-d97d-11e5-8902-79dbfd3390f9.png)

we don't have a jobs board?

[2016-02-22 16:04] iancrowther commented on #112
understood, can you list some examples to move across?

How can we know when its done?

[2016-02-22 16:11] simonmcmanus commented on #79
The jobs boards is showing in google because the page returns a 200:

http://lnug.org/jobs/

When that returns a 404 it will stop showing in google. A sitemap will not help here.

[2016-02-22 16:16] iancrowther commented on #79
ok cool

@orliesaurus can you kill zee landing.jobs page

[2016-02-22 17:01] #111 closed, assigned to nobody

[2016-02-23 02:04] orliesaurus commented on #79
you got it!

[2016-02-23 10:56] iancrowther commented on #79
cheers chief

[2016-02-27 13:39] katebee commented on #95
I'm happy to start this.

After scanning through, the speaker names seem correct from Jan 2015 and earlier, I will fix the remaining months in 2015

**Submitted PR #115**

[2016-02-27 14:53] katebee commented on #96
@iancrowther I'm happy to work through this (and #89), if you want to assign it to me?

[2016-03-01 21:22] iancrowther commented on #95
merged, you rock!

[2016-03-01 21:22] #95 closed, assigned to nobody

[2016-03-01 21:24] iancrowther commented on #96
@katebee can we close this?

I've invited you to the contribs team, at this point you should be able to self-assign tasks

[2016-04-17 12:10] katebee commented on #96
@iancrowther I may need some extra permissions? I can't currently assign or close :disappointed_relieved:

[2016-04-18 11:39] iancrowther commented on #96
thanks @katebee try now

[2016-04-21 17:37] simonmcmanus opened #122 "link to speaker github profiles on the homepage"
Not sure when this stopped working.

[2016-04-28 07:51] simonmcmanus opened #124 "appcache nanny update found"
The site uses app cache to ensure the site works offline.

At the moment AppCache nanny checks for updates, when it finds an update it just refreshes the whole page. This experience is not ideal.

We should look at how this can be improved.

Initially, I would suggest showing the user a notification of some kind and asking if they would like to refresh the page to see new content.

[2016-05-13 22:24] admataz opened #126 "site rebuild - talk description added"
Simon, when you get a chance can you rebuild the site? The second speaker has added a talk description so there's now content to pull in there...

[2016-05-14 21:41] admataz commented on #126
have done this

[2016-05-14 21:41] #126 closed, assigned to admataz

[2016-07-19 16:45] #112 closed, assigned to simonmcmanus

[2016-07-24 07:27] #122 closed, assigned to nobody

[2016-10-20 08:11] simonmcmanus commented on #124
solved with service workers

[2016-10-20 08:11] #124 closed, assigned to nobody

[2016-10-20 08:34] simonmcmanus opened #132 "CSS Transitions"
The site needs some simple and fast css transitions between pages.

While the page loads data it shows the layout which can result in the footer being present and the disappearing to the bottom of the page when the content is loaded. it would be good to fix this at the same time.

@iancrowther pointed out https://daneden.github.io/animate.css/ which has a good collection of transitions. It would b

[2017-01-27 14:43] katebee commented on #96
Oh, I was going to mark this done, but have just noticed some more videos have been added to the channel from September 2016.

Anyone getting started with contributing to open source that wants to try this? 😄

### What you need to do:
- [ ] Identify talks that have videos on the [LNUG channel](https://www.youtube.com/channel/UC-qjgj2TnRoI1ZmFFaN3FeQ/videos), but no hyperlink in the [website archiv

[2017-01-27 14:52] katebee commented on #89
Closing this and keeping #96 open :smile:

[2017-01-27 14:52] #89 closed, assigned to iancrowther

[2017-03-09 12:37] adrianblynch opened #136 "Website errors"
I'm currently seeing the following:

<img width="864" alt="screen shot 2017-03-09 at 12 33 56" src="https://cloud.githubusercontent.com/assets/4160967/23750480/161897be-04c5-11e7-93a9-54d9280a3ccd.png">

Viewing on Chrome/Mac.

Works on my Nexus 5x.

[2017-03-09 13:11] simonmcmanus commented on #136
hi @adrianblynch thanks for reporting, does a refresh help? It looks like you have an old version of the index-compiled being served from the service worker. It was updated this morning. I was hoping bumping the service worker version would be enough but maybe not.

[2017-03-27 08:43] admataz opened #137 "build failing"
Hi @simonmcmanus

I'm getting an error when running `npm run build` to update the speakers - it looks like it's failing on the `speclate --build` script.

This worked last time I ran it, but we had all 3 speaker slots full - is it something to do with there only being one speaker confirmed so far?

I saw you did some updates recently  - so I trashed my `npm_modules` and reinstalled -  no help.

An

[2017-03-27 09:28] simonmcmanus commented on #137
Hi Adam will take a look on my lunch break

Thanks for letting me know

Sent from my iPhone

[2017-03-27 11:16] simonmcmanus commented on #137
The build is fixed and I have pushed out an update to the site.

The issue was due to the github account not having a name field. It now uses the handle when name is not available. I will also get a fix into speclate soon

[2017-03-27 11:16] #137 closed, assigned to simonmcmanus

[2017-03-27 11:18] admataz commented on #137
thanks @simonmcmanus ⭐️

[2017-03-27 11:49] simonmcmanus commented on #137
Its actually Sizlate which needs the fix, The issue is here:

https://github.com/simonmcmanus/sizlate/issues/36

[2017-04-27 17:36] andrew-coleman opened #139 "Name of JSONata speaker is shown as 'null'"
The speaker for the JSONata session is listed as `null` in the archive page (https://lnug.org/archive.html)...

      April 2017

      How Bionode.io uses Node.JS Streams to handle genomic big data - Bruno Vieira
      Automatically build and publish Node and Electron applications for Linux - Martin Wimpress
      JSONata: A declarative syntax for querying your JSON data - null

Please could you

[2017-04-27 17:48] admataz commented on #139
Hi Andrew,
I think it's showing 'null' because you don't have a name in your github profile? could you fill in your Github profile with your name, and we can run the build script again for the site and it should pull it in.

thanks!

[2017-04-27 18:21] andrew-coleman commented on #139
Ah, that explains it!  I've updated my profile.  Thanks for pointing that out.

[2017-04-28 08:26] andrew-coleman commented on #139
Many thanks @admataz

[2017-04-28 08:26] #139 closed, assigned to nobody

[2017-04-28 11:51] Istar-Eldritch commented on #58
I would like to start taking some tasks related with the website. So far I've seen that we lack a [`CONTRIBUTING.md`](https://github.com/blog/1184-contributing-guidelines) and that the contributing section in the readme is quite brief.

If @simonmcmanus is not working on this I would like to make a draft of such file so we can elaborate further from there.

[2017-04-28 12:52] clarkie commented on #58
Sounds like a great idea!

[2017-04-28 13:56] simonmcmanus commented on #58
that sounds great.  Thanks Ruben! Let me know if you have any questions.

On 28 April 2017 at 13:52, Clarkie <notifications@github.com> wrote:

--
Simon McManus

DotJS Ltd - Node Consultancy

[2017-06-12 11:44] admataz opened #140 "Have the option to only display 2 talks"
we have discussed reducing the talks to 2 in the night - to allow more time for talk/banter/networking, and allow talks to finish on time

@simonmcmanus  - how difficult would it be to accommodate the option of 2 or 3 talks in the website build script?  If you can point me to the right direction, I'd be happy to take a look.

[2017-11-14 08:37] simonmcmanus commented on #136
Closing as no more info. Please re-open if you see similar issues.

[2017-11-14 08:37] #136 closed, assigned to nobody

[2017-11-14 08:39] #97 closed, assigned to nobody

[2017-11-14 08:51] simonmcmanus opened #143 "Move google analytics code out of client.js"
At some point there was an issue with the google analytics so the code was copied to the top of the `client.js` file.

Its pretty ugly as the first thing in the `client.js` file, it should be moved into its own file or we should be able to require another module.

https://github.com/lnug/website/blob/master/client/index.js

notes:

* Please ensure tracking events still fire on first page load and

[2017-11-14 09:07] simonmcmanus commented on #84
We should be able to add more events to the homepage. We can reuse most of the existing mechanism, we will just need to think about how we build up the selectors.

We should ensure future events don't make it into the archive.

Check out this file to see how we build up the data:
https://github.com/lnug/website/blob/master/bin/update-json.js

I suspect we want to add another json file which stores

[2017-11-14 09:13] simonmcmanus commented on #92
Could we use the github issues with a suggestions tag? Just a thought

[2017-11-14 09:14] simonmcmanus opened #144 "remove npm-debug.log.4271761878 file"
it in the root of the repo and doesn't need to be there.

Bonus points for adding it to the `.gitignore` file.

[2017-11-14 19:39] simonmcmanus commented on #144
fixed by https://github.com/lnug/website/pull/145 thanks to @drenther

[2017-11-14 19:39] #144 closed, assigned to nobody

[2017-11-14 19:39] #132 closed, assigned to nobody

[2017-11-15 08:22] simonmcmanus commented on #140
I think the main thing we need to fix is the css (desktop only). Currently it needs changing based on two columns or three. If we could get some CSS that works with both that would make things much easier.

[2017-11-16 08:56] simonmcmanus opened #146 "setup SpeedTracker on LNUG website"
Speed tracker will let us keep an eye on the time it takes to load the LNUG website and check things like Lighthouse score over time:

https://speedtracker.org/

Once in place we should establish some baselines to ensure we don't slow the site down as we make changes.

[2017-11-21 17:32] simonmcmanus opened #147 "local dev mode that disables service workers"
Local development would be much easier if we could disable service workers when developing locally.

We need to investigate options.

It could either not register the service worker or I wonder if we could get away with registering an empty service worker with something like:

[code]

[2017-11-22 13:47] simonmcmanus opened #148 "Prompt user to submit a a talk"
Prompt which encourages the user to submit a talk.

[2017-11-22 13:48] #148 closed, assigned to nobody

[2017-11-22 13:50] simonmcmanus opened #149 "CSS - fix homepage columns to show 2 or 3 (on desktop) without changing the css."
All the columns should be an equal width. There will be two or three columns per event.

[2017-11-23 23:11] matt-mckenzie opened #150 "Build fails when no event in the future"
Following error when running `npm run build`:
[code]

[2017-11-24 13:23] #149 closed, assigned to nobody

[2017-11-24 13:31] #150 closed, assigned to nobody

[2017-12-02 22:27] domfarnham commented on #143
Hi Simon,

I was at the last LNUG. Enjoyed your run through of the site.

Would you mind if I worked on this issue?

Dom

[2017-12-03 08:43] simonmcmanus commented on #143
Hi Dom,

Thanks. That sounds great. Go for it!

Simon

[2018-01-14 21:43] domfarnham commented on #146
Hi Simon,

Mind if I work on this one?

Dom

[2018-01-15 11:51] simonmcmanus commented on #146
That would be great, thanks Dom.

On 14 January 2018 at 21:43, Dom Farnham <notifications@github.com> wrote:

--
Simon McManus

DotJS Ltd - Node Consultancy

[2018-01-15 21:45] domfarnham commented on #146
Hi Simon,

I have setup a proof of concept by forking speedtracker to my Github profile and configuring it to test lnug.org.

I have setup 4 profiles:
1) lnug.org(Dulles:Chrome:Cable:Lighthouse)
The test is performed from a Chrome browser, on a device located in Dulles, Virgina, over a Cable (5/1Mbps, 28ms RTT) connection.

2) lnug.org(London:Chrome:Cable)
The test is performed from a Chrome brows

[2018-01-16 22:01] domfarnham commented on #146
Hi Simon,

SpeedTacker is now setup on the LNUG github. You can access the dashboard here https://lnug.github.io/speedtracker.

A scheduled test will be performed every 12 hours for each of the 4 profiles.

Currently, you and I will receive notifications whenever a performance metric exceeds one of the configured limits. The recipients list can be modified within the speedtracker.yml file, when ne

[2018-02-10 22:08] sielay commented on #84
https://github.com/lnug/website/pull/154 That adds list of future events. If you tell where you want to put them on the homepage I can easily add it

[2018-02-13 12:25] #143 closed, assigned to nobody

[2018-02-13 12:25] #140 closed, assigned to nobody

[2018-02-13 12:25] simonmcmanus commented on #140
I believe this has been fixed.

[2018-02-13 12:26] simonmcmanus commented on #146
thanks @domfarnham

[2018-02-13 12:26] #146 closed, assigned to domfarnham

[2018-02-13 12:28] simonmcmanus opened #155 "git ignore /docs directory"
Currently PRs show the generated output as well as the source.

This can make reviewing PRs a pain.

Services like Netlify provide a build command so that the build doesn't happen locally.

This means we can add `/docs` to the `.gitignore` file so the generated files don't ever get committed.

Should we move to hosting on Netlify or something other?

[2018-02-16 23:00] sielay commented on #155
Ok. I'll be devils advocate here. If data is the problem, then why it's in the repo in the first place? :) It should be added to `.gitignore`

[2018-03-05 17:53] simonmcmanus commented on #155
@sielay agreed  :)  - we are using github pages to host at the moment so we need to commit the generated markup. Only way round it im aware of with github pages is to use Jekyll.

[2018-03-05 18:08] simonmcmanus commented on #84
@sielay - looking at the homepage I can't see an obvious place to add it. We would probably need to make a new section for each month to keep things clear. Now we have a future events page I wonder if we need the list on the homepage at all.

Im open to suggestions though.

[2018-03-06 07:34] sielay commented on #84
You could put `a** big` button saying `future`, but it will draw attention from actual content. Or below 2 talks from next event, we can have dividing heading and then list of future events. Let's not be scared of scrolling ;)

[2018-07-15 07:19] #155 closed, assigned to nobody

[2018-07-15 07:19] simonmcmanus commented on #155
now using netlify for hsoting

[2018-09-27 09:59] sielay opened #156 "Rewrite using GatsbyJS"
I would like to contribute more and thought about refreshing page using [GatsbyJS](https://gatsbyjs.org). Any thoughts? @simonmcmanus @admataz

[2018-09-28 06:32] simonmcmanus commented on #156
Hi Sielay,

We would love your contributions, any particular reason to want rewrite is Gatsby?

Any reason you cannot contribute with what we already have?

What kind of refresh were you thinking about?

[2018-09-28 08:19] sielay commented on #156
Hi. I made contributions last time and I appreciate the effort put into the website. Anyhow there are few downsides and few things that make this website be `left behind`. With Gatsby landscape of static websites has changed rapidly. Mostly thanks to it being PWA such sites are faster, more dynamic and work offline! We can't do it easily from scratch (we always can, but would be effort for effort)

[2018-09-28 09:19] simonmcmanus commented on #156
The current site is already a static site with client side routing/rendering, it also works offline, falling back to application cache if service workers are not supported.

There are more details in my talk here:

https://www.youtube.com/watch?v=IDAlnMF7HtE

What things are missing that make the current site `left behind`? Im not sure I follow.

If there are specific perf concerns they should be

[2018-09-28 09:50] sielay commented on #156
Ok. I wasn't aware (must miss that) page uses service workes. Then it's not as `left behind` as I thought. I have a slightly different opinion on overkill, but an opinion it's not a valid argument.

I'll close the issue and wait for ideas on specific things you guys would like to be improved then.

[2018-09-28 09:50] #156 closed, assigned to nobody